*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #222f3c;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    text-decoration: none;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

#menu-icon{
    font-size: 2.2rem;
    color: var(--text-color);
    display: none;
}

.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 3px solid #00B87B;
    border-radius: 50%;
    font-size: 25px;
    color: #00B87B;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social a:hover{
    background: #00B87B;
    color: #222f3c;
    box-shadow: 0 0 20px #00B87B;
}

.container{
    padding: 10px 5%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #00B87B;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 14%;
    font-size: 30px;
}

.home{
    display: flex;
    justify-content: space-between;
}

.header-text h1{
    margin-bottom: 5px;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: 0.7s;
}

.header-text h2{
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.7s;
}

.header-text h3 span{
    color: #00B87B;
}

.header-text h3{
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: 0.7s;
}

.p{
    width: 80%;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: 0.7s;
}

.btn{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 28px;
    background: #00B87B;
    border-radius: 40px;
    text-decoration: none;
    color: #222f3c;
    font-weight: 600;
    box-shadow: 0 0 5px #00B87B, 0 0 25px #00B87B;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: 1s;
}

.btn:hover{
    box-shadow: 0 0 25px #00B87B,0 0 50px #00B87B, 0 0 100px #00B87B;
}

.profile-img img{
    margin-top: 30%;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #00B87B, 0 0 50px #00B87B, 0 0 100px #00B87B, 0 0 200px #00B87B;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: 0.7s;
}

.name{
    color: #00B87B;
}

/* .auto-type{
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.2em solid white;
    animation: typing 3s steps(20,end) infinite;
    margin-bottom: 20px;
}

@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
} */

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*----------------------------------------ABOUT----------------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;
}

.about-col1 img{
    margin-top: 18%;
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #00B87B, 0 0 50px #00B87B, 0 0 100px #00B87B, 0 0 200px #00B87B;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.7s;
}

.about-col2{
    flex-basis: 60%;
}

.title1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: 0.7s;
}

.p1{
    margin-top: 30px;
    font-size: 18px;
    color: white;
    line-height: 30px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: 1s;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    position: relative;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00B87B;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-c{
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: 2s;
}

.tab-c ul li{
    font-size: 18px;
    list-style: none;
    margin: 10px 0;
    color: white;
}

.tab-c ul li span{
    color: #00B87B;
}

.tab-contents{
    display: none;
}

.tab-contents::after{
    transition: 0.5s;
}

.tab-contents.active-tab::after{
    width: 100%;
}

.tab-contents.active-tab{
    display: block;
}

/*-----------------------------------------Projects------------------------------------*/
#projects{
    padding: 30px 0;
}

.title2{
    font-size: 60px;
    color: white;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: 0.7s;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.project-list div{
    background: transparent;
    border: 1px solid #00B87B;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    box-shadow: 0 0 25px #00B87B;
    transition: background 0.5s , transform 0.5s;
}

.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #00B87B;
}

.project-list div a i{
    font-size: 13px;
}

.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.project-list div p{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
}

.learn-more{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 20px;
    background: #00B87B;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 20px #00B87B;
}

.project-list div a{
    margin-top: 20px;
    text-decoration: none;
    color: #222f3c;
    font-size: 14px;
    display: inline-block;
}

.learn-more:hover{
    box-shadow: 0 0 30px #00B87B, 0 0 30px #00B87B;
}

.project-list div:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00B87B, 0 0 50px #00B87B;
}

/*--------------about-------------*/

.title3{
    font-size: 60px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}

.contact_me{
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    width: 900px;
    height: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(80%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}

label{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 10px;
}

.mail{
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
}

button{
    background: rgb(45, 126, 231);
    height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    transition: opacity;
    margin-top: 50px;
}

button:active{
    opacity: 0.8;
}

.des{
    background: rgba(255, 255, 255, 0.3);
    height: 100px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
}

.highlight{
    color: #00B87B;
}